* {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto 40px auto;
}

.banner {
  height: 388px;
  background-image: url(../multimedia/funkos-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  filter: brightness(50%);
}

.card-banner {
  position: absolute;
  top: 28%;
  left: 19%;
}

.white-section {
  width: 1200px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin: auto;
}

.funko-imagen img {
  margin-left: 160px;
}

.titulo-banner {
  color: #ffffff;
  font-family: Raleway;
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 3%;
}

.texto-banner {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10%;
}

.boton-shop {
  width: 190px;
  height: 47px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

/* SECTION 2*/

.titulo-section {
  font-family: Raleway, sans-serif;
  font-size: 46px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #111111;
  margin-bottom: 6px;
}

.description-section {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f4f4f;
}

.boton-coleccion {
  width: 180px;
  height: 40px;
  border-radius: 50px;
  background: #30343f;
  font-size: 14px;
  color: #ffffff;
  margin-top: 62px;
}
